body {
  justify-content: center;
  align-content: center;
  background-color: grey;
  color: white;
}
.flex {
  display: flex;
  flex-direction: row;
}
.imgdiv {
  justify-self: center;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
}
footer {
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .imgdiv {
    width: 20%;
  }
}

.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 2.5rem;
  text-align: center;
  color: white;
}